mchain/
mchain/
__pycache__/
*.pyc
.env



# Ignorer le dossier du virtualenv


frontend/node_modules/
frontend/build/
backend/ __pycache__/
# ================================
mchain/
mchain/lib/
mchain/lib64/
mchain/include/
mchain/bin/
mchain/pyvenv.cfg

# Ignorer les fichiers temporaires et caches Python
__pycache__/
*.py[cod]

# Ignorer la base de données SQLite et les fichiers logs
db.sqlite3
*.log

# Ignorer les fichiers médias et les fichiers d’environnement
.env.*

# Ignorer les fichiers de configuration sensibles
medicalchain/settings/
medicalchain/settings/*
medicalchain/settings/base.py.example
requirements.txt
static/

# Ignorer les migrations pour toutes les applications
apps/*/migrations/
apps/*/*urls.py
apps/*/migrations/*.py
!apps/*/migrations/__init__.py

# Ignorer d’autres fichiers inutiles
Pipfile.lock
.idea/
.vscode/
.windsurf/
.DS_Store
Thumbs.db
.env.py

mchain/
*.pyc
__pycache__/
.env
node_modules/
