<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedicalChain</title>
    {% load static %}
    <!-- Charge le CSS compilé de React (si nécessaire) -->
    <link rel="stylesheet" href="{% static 'frontend/css/main.css' %}">
</head>
<body>
    <!-- Point d'ancrage pour React -->
    <div id="root"></div>

    <!-- Charge le JS compilé de React -->
    <script src="{% static 'frontend/js/main.js' %}"></script>
</body>
</html>