
# Fichiers sensibles
.env
.env.py
db.sqlite3
*.env*

# Fichiers temporaires
__pycache__/
*.pyc
*.swp
*.swo
celerybeat-schedule

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
mcahain/
venv/
.env
db.sqlite3
node_modules/mchain/
backend/
reqirements/
mchain/lib/
mchain/
*.pyc
__pycache__/
.env*
*.sqlite3
__pycache__/
*.pyc
db.sqlite3
__pycache__/
*.pyc
db.sqlite3
*.env
*.log
